#cep{
    text-align: right;
}
#outros {
    display: none;
}
.invalid-feedback{
    font-size: 8pt;
}
#esporteMsg{
    display: none;
    font-size: 8pt;
    color: red;
    margin-top: 0px;
}

#aprendMsg{
    display: none;
    font-size: 8pt;
    color: red;
    margin-top: 0px;
}

#infoMsg{
    display: none;
    font-size: 8pt;
    color: red;
    margin-top: 0px;
}